* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.converter {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 30px 24px;
    background-color: rgba(240, 248, 255, 0.549);
    background: linear-gradient(to left, #ccc, #999);
    width: 400px;
    border-radius: 10px;
}

.converter div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

input {
    padding: 15px 15px;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.616);
    outline: none;
    border: none;
}