* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.main__inner {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.453);
}

.block {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}