* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
    width: 260px;
    gap: 10px;
}

.card img {
   height: 232px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.title_and_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 17px;
}

.price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sale {
    font-size: 20px;
}

.before__price {
    color: gray;
    text-decoration: line-through;
    font-size: 20px;
}

.description {
    text-align: justify;
    color: gray;
}